
#photo-id {float:right;
margin:0px
		
}

table {
width: 50%;
}
td, th {
width: 30%;
}
.citation {
	  text-align: center;
	  font-style: italic;
}

Header{
    background-color: #33FFCC;
	margin: 20px 0px 20px 0px;
	text-align: center;                    
	font-size: 36px;
	color: solid white;
	border: 10px solid #006400;}
		 
footer{   
	background-color : #33FF99;
	padding: 1%; 
    margin: 20px 10px 20px 10px;
	text-align: center;
	border: 10px solid #006400;}
		 		  
nav{
	background-color: #33FF99;
	margin: 10px 50px 10px 50px;
	font-size: 24px;
	color: solid white;
	border: 10px solid #006400}
		
section{  
    margin : 30px 20px 30px 20px;	
	font-size: 24px;}
		  
.VIF{
	text-decoration:underline;
	text-align: center;
	color: #66CC00;
	font-style: italic;
	font-weight: bold;
	Font-size: 24px;
}


.LIF{     text-decoration:underline;
	     text-align: center;
		 color: #66CC00;
         font-style: italic;
		 font-weight: bold;
		 Font-size: 24px;
}

body{
	text-align: center;
	color: white;
	margin:0;
	padding:0;
	background: url(Fond/vert.jpg);
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	-webkit-background-size: back; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
	}

.d{ 
	text-align: center;
	font-weight: bold;
	color: #444444f5;
	text-decoration: bold;
 }

.g{ 
	color: black;
	background-color: #CECECE;
 }


aside{  
	background-color: #108A53;
	border: 2px solid #006400;
	margin: 10px 10px 200px 10px;
	width: 20%;
	float: right;		  
	}

h1{
	font-size:3em;
	font-style: italic;
	color:white ;
	text-decoration: underline;	}


h2{ 
	text-align: left;
	color: #66CC00;
	font-style: italic;
	text-decoration: underline;	
	font-family: 'Times New Roman', Times, serif;}

.Info{
	text-align: left;
	background-color:#108A53;
	margin: 20px 1500px 20px 100px;
	border: 2px solid #006400;}

li{text-align: left;
 margin: 0px 0px 0px 40px;}
 
 #theme_orange{
  float: left;
  height:5px;
  width: 5px;
  padding: 10px;
  border: 3px solid #730800;
  background: orange ;
  margin: -9px 90px -85px 100px;
}

 #theme_bleu{
  float: left;
  height:5px;
  width: 5px;
  padding: 10px;
  border: 3px solid #1A1920;
  background: blue ;
  margin: -9px 50px -21px 50px;
}

#theme_rouge{
	float: left;
	height:5px;
	font-size:100% ;
	width: 5px;
	padding: 10px;
	border: 3px solid#006400;
	background: rgb(2, 117, 50) ;
	margin: -9px 20px 3px -131px;}

#inscription{
	display: none;
}
#connexion {
	display: none;}


.ligne {
	display:inline;
	
	margin: 15px;}
#lecteur_video{
	margin: 31px -376px 29px 0px;
	height:200px;
	width :160px;
	float: right;
}
.input_control{
	width: 26px;
	height: 26px;
	margin: 4px;
}
.input_control:hover{
	width: 30px;
	height: 30px;
	margin: 0px; }

#video {
	border:1px solid black;
	background-color: black;
    height: 279px;
	width: 156px;
}

#nav_mon_cv{
	cursor: pointer;
}
#nav_mon_site{
	cursor: pointer;
}
#nav_inscription{
	cursor: pointer;
}
#nav_connexion{
	cursor: pointer;
}

#mon_cv{
	display: block;
}

#inscription{
	display: none;
}

#connexion 	{
	display: none;
}
#formulaire {
    padding-right: 45%;
    padding-left: 43%;
    margin-left: 3%;
    text-align: left;
}

#ziak {
    padding-right: 45%;
    padding-left: 45%;
}